.hover-layout {
    padding: 5px;
    border-bottom: 2px solid aliceblue;
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.custom-grid ::part(cell-content) {
    vertical-align: top;

}

.custom-grid textarea {
    overflow: hidden;
}


.hover-layout:hover {
    background-color: aliceblue; /* Цвет при наведении */
}

.hover-layout span:hover {
    cursor: default;
}

.grid-details {
    align-items: center;
}

.telegram-list {
    padding-right: 2%;
    align-items: center;
    border-bottom: 2px solid aliceblue;
    transition: background-color 0.3s;
}

.telegram-list-history {
    padding: 10px;
    align-items: flex-start;
    border-bottom: 2px solid aliceblue;
    transition: background-color 0.3s;
}

.telegram-list-history:hover {
    background-color: aliceblue; /* Цвет при наведении */
}

.telegram-list-history h5 {
    font-weight: normal;
}

.telegram-list-history span {
    margin-top: -10px;
    font-size: 13px;
}

.telegram-list-history span, H4:hover {
    cursor: default;
}

.telegram-list:hover {
    background-color: aliceblue; /* Цвет при наведении */
}

.telegram-list span, H4:hover {
    cursor: default;
}

.filter-block {
    border-left: 1px solid #eae7e7;
    padding-right: 3%;
}


.custom-media-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    0 2px 4px rgba(0, 0, 0, 0.06);
    padding: 1.5rem;
    transition: all 0.3s ease;
    margin: 1rem;
    overflow: hidden;
    position: relative;
}

.custom-media-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15),
    0 4px 8px rgba(0, 0, 0, 0.1);
}